<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>app_web_jsf_portal</display-name>
  <welcome-file-list>
    <welcome-file>/login</welcome-file>
  </welcome-file-list>
   <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
  <context-param>
    <param-name>resteasy.scan</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/rest</param-value>
  </context-param>
  <listener>
    <listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
    	</listener-class>
  </listener>
  <servlet>
    <servlet-name>resteasyServlet</servlet-name>
    <servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resteasyServlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>facesServlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>facesServlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>org.omnifaces.FACES_VIEWS_SCAN_PATHS</param-name>
    <param-value>/*.xhtml</param-value>
</context-param>
  <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
  </context-param>
  <filter>
    <filter-name>loggedFilter</filter-name>
    <filter-class>qetaa.jsf.portal.filters.LoggedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loggedFilter</filter-name>
    <url-pattern>/_includes/*</url-pattern>
    <url-pattern>/login</url-pattern>
  </filter-mapping>  
  <filter> 
    <filter-name>notLoggedFilter</filter-name>
    <filter-class>qetaa.jsf.portal.filters.NotLoggedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>notLoggedFilter</filter-name>
    <url-pattern>/_includes/*</url-pattern>
    <url-pattern>/port/*</url-pattern>
  </filter-mapping>
   <context-param>
	<param-name>primefaces.UPLOADER</param-name>
	<param-value>native</param-value>
  </context-param>
  <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/login.xhtml</location>
    </error-page>
</web-app>